%h1 Listing maps

%table
  %tr
    %th Name
    %th Center lat
    %th Center lon
    %th Zoom
    %th
    %th
    %th

  - @maps.each do |map|
    %tr
      %td= map.name
      %td= map.center_lat
      %td= map.center_lon
      %td= map.zoom
      %td= link_to 'Show', map
      %td= link_to 'Edit', edit_map_path(map)
      %td= link_to 'Destroy', map, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Map', new_map_path
